---
layout: post
blog: "Reddit"
title: "Seeking more info on a JDK LinkedList bug found by formal verification"
date: 2023-08-26T16:48:00Z
image: images/reddit.png
remote_url: "https://www.reddit.com/r/java/comments/16206hg/seeking_more_info_on_a_jdk_linkedlist_bug_found/"
---
